[submodule "src/sdformat_tools"]
	path = src/sdformat_tools
	url = https://github.com/gezp/sdformat_tools.git
[submodule "src/rmoss_interfaces"]
	path = src/rmoss_interfaces
	url = https://github.com/SMBU-PolarBear-Robotics-Team/rmoss_interfaces.git
[submodule "src/rmoss_core"]
	path = src/rmoss_core
	url = https://github.com/SMBU-PolarBear-Robotics-Team/rmoss_core.git
[submodule "src/rmoss_gazebo"]
	path = src/rmoss_gazebo
	url = https://github.com/SMBU-PolarBear-Robotics-Team/rmoss_gazebo.git
[submodule "src/rmoss_gz_resources"]
	path = src/rmoss_gz_resources
	url = https://github.com/SMBU-PolarBear-Robotics-Team/rmoss_gz_resources.git
[submodule "src/pb2025_robot_description"]
	path = src/pb2025_robot_description
	url = https://github.com/SMBU-PolarBear-Robotics-Team/pb2025_robot_description.git
